body {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: #373A3C;
}

header {
    padding-top: 100px;
}

.font {
    text-decoration: none;
    font-size: 3em;
}

.imagenPrincipal {
    width: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.btn-style {
    width: 46%;
    margin-left: 7px;
}

.imgSlider {
    width: 100%;
    height: 200px;
    object-fit: fill;
}

.bor {
    border-top: 1px solid;
}

#pro {
    background-color: #5753546c;
}

.espacio {
    width: 50%;
}

p {
    line-height: 2;
}

.linea {
    border-bottom: 1px solid #000000;
}

.img-hobbie {
    width: 100%;
    height: 300px;
    object-fit: fill;
}

.color {
    background-color: #212529;
    width: 100%;
    height: 180px;
    color: white;
    text-align: center;
}

.botonFooter {
    margin: auto;
}

.enlaces>li>a {
    text-decoration: none;
    color: black;
}

.enlaces>li {
    font-size: 40px;
    display: inline-block;
    padding-right: 10px;
}

footer {
    background-color: #373A3C;
    color: white;
}

.pfooter {
    margin: 0;
}

.margenH3 {
    margin-top: 50px;
}

.fontspan {
    font-family: 'Lobster', cursive;
    text-decoration: none;
}

h4 {
    color: black;
}

h5 {
    color: white;
    border-bottom: 2px rgba(71, 71, 71, 0.342) solid;
}

.buttomColap {
    width: 100%;
}

.section-cards {
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.card-wrap {
    margin: 10px;
    -webkit-perspective: 900;
    perspective: 900;
}

.card {
    width: 300px;
    height: 350px;
    background-color: #373A3C;
    position: relative;
    transform-style: preserve-3d;
    transition: .7s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
}

.adelante,
.atras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.adelante {
    width: 100%;
}

.cardUno {
    background-image: url(../img/html5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cardDos {
    background-image: url(../img/css3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cardTres {
    background-image: url(../img/js.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.atras {
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: "open sans";
}

.card-wrap:hover .card {
    transform: rotateY(180deg);
}

@media (max-width: 575px) {
    h5,
    h4,
    h3,
    p,
    ul,
    li {
        text-align: center;
    }
}