body {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: #373A3C;
}

header,
#hob {
    padding-top: 100px;
    padding-top: 100px;
}

.font {
    text-decoration: none;
    font-size: 3em;
}

.imagenPrincipal {
    width: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.btn-style {
    width: 46%;
    margin-left: 7px;
}

.imgSlider {
    width: 100%;
    height: 200px;
    object-fit: fill;
}

.bor {
    border-top: 1px solid;
}

#pro {
    background-color: #5753546c;
    margin-bottom: 20px;
}

.espacio {
    width: 50%;
}

p {
    line-height: 2;
}

.linea {
    border-bottom: 1px solid #000000;
}

.img-hobbie {
    width: 100%;
    height: 300px;
    object-fit: fill;
}

.color {
    background-color: #212529;
    width: 100%;
    height: 180px;
    color: white;
    text-align: center;
}

.botonFooter {
    margin: auto;
}

.enlaces>li>a {
    text-decoration: none;
    color: black;
}

.enlaces>li {
    font-size: 40px;
    display: inline-block;
    padding-right: 10px;
}

footer {
    background-color: #373A3C;
    color: white;
}

.pfooter {
    margin: 0;
}

.margenH3 {
    margin-top: 50px;
}

.fontspan {
    font-family: 'Lobster', cursive;
    text-decoration: none;
}

h4 {
    color: black;
}

h5 {
    color: white;
    border-bottom: 2px rgba(71, 71, 71, 0.342) solid;
}

.buttomColap {
    width: 100%;
}